body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 20px;
}

h1 {
    margin: 0;
}

.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.searchinput {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px; /* Rounded border */
    width: 200px;
    font-size: 16px;
}

.searchbutton {
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 20px; /* Rounded border */
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
    font-size: 16px;
}

.searchbutton:hover {
    background-color: #2779bd;
}

.current-weather, .forecast {
    background: linear-gradient(135deg, #00feba, #5b548a);
    border-radius: 20px; /* Rounded border */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 20px;
}

.current-weather h2, .forecast h2 {
    font-size: 24px;
    margin: 0;
    color: #fff;
}

.weather-icon img {
    max-width: 100px;
    display: block;
    margin: 20px auto;
}

.tiles {
    display: flex;
    justify-content: space-between;
}

.tile {
    background: linear-gradient(135deg, #00feba, #5b548a);
    border-radius: 20px; /* Rounded border */
    padding: 20px;
    flex: 1;
    margin: 0 10px;
    text-align: center;
    color: #fff;
    transition: transform 0.2s;
    cursor: pointer;
}

.tile h3 {
    font-size: 24px;
}

.tile p {
    font-size: 32px;
}

.tile:hover {
    transform: scale(1.05);
}

.forecast-days {
    display: flex;
    justify-content: space-between;
}

.forecast-day {
    background: linear-gradient(135deg, #00feba, #5b548a);
    border-radius: 20px; /* Rounded border */
    padding: 15px;
    flex: 0.8;
    margin: 0 10px;
    text-align: center;
    color: #fff;
    transition: transform 0.2s;
    cursor: pointer;
}

.forecast-day h3 {
    font-size: 20px;
}

.forecast-day .weather-icon img {
    max-width: 70px;
    display: block;
    margin: 10px auto;
}

.forecast-day .tile p {
    font-size: 24px;
}

.forecast-day:hover {
    transform: scale(1.05);
}
